.client-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.client-list__link {
	display: block;
	padding: 14px 50px;
	border: 1px solid $social-icon;
	border-radius: 4px;
	color: $social-icon;

	transition-property: color, border;
	transition-duration: 250ms;
	transition-timing-function: $timing-animation;

	&:hover,
	&:focus {
		color: $accent-color;
		border: 1px solid $accent-color;
	}

	@media screen and (min-width: $table-width) {
		padding: 14px 58px;
	}

	@media screen and (min-width: $desktop-width) {
		padding: 14px 30px;
	}
}

.client-list__icon {
	fill: currentColor;
}
