.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: $hero-fon;
}

.footer-container {
	@media screen and (min-width: $table-width) {
		display: flex;
	}

	@media screen and (max-width: ($desktop-width - 1)) {
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
		row-gap: 60px;
	}

	@media screen and (min-width: $table-width) {
		align-items: baseline;
	}
}

.footer-contact {
	@media screen and (max-width: ($table-width - 1)) {
		text-align: center;
		padding-bottom: 60px;
	}

	@media screen and (min-width: $desktop-width) {
		width: 231px;
	}
}
