.footer-subscribe {
	@media screen and (max-width: ($table-width - 1)) {
		text-align: center;
	}

	@media screen and (min-width: $table-width) {
		width: 450px;
	}

	@media screen and (min-width: $desktop-width) {
		margin-left: 93px;
	}
}

.footer-subscribe__title {
	margin-bottom: 20px;
	@include font(null, 14px, 16px, 0.03em);
	text-transform: uppercase;

	color: $hero-color;
}
