.hero {
	background-color: $hero-fon;
	background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/mobile/hero-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	text-align: center;
	padding-top: 118px;
	padding-bottom: 118px;

	@media screen and (max-width: $mobile-width) {
		background-size: cover;
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: url(../images/mobile/hero-mobile@2x.jpg);
	}

	@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
		background-image: url(../images/mobile/hero-mobile@3x.jpg);
	}

	@media screen and (min-width: $table-width) {
		background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/tablet/hero-table.jpg);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/tablet/hero-table@2x.jpg);
		}

		@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
			background-image: url(../images/tablet/hero-table@3x.jpg);
		}
	}

	@media screen and (min-width: $desktop-width) {
		padding-top: 200px;
		padding-bottom: 200px;
		background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/desktop/hero-desktop.jpg);
		background-size: 1600px 600px;

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/desktop/hero-desktop@2x.jpg);
		}
		@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
			background-image: url(../images/desktop/hero-desktop@3x.jpg);
		}
	}
}

.hero__title {
	color: $hero-color;
	@include font(900, 26px, 42px, 0.06em);
	text-transform: uppercase;
	margin-bottom: 30px;

	@media screen and (min-width: $table-width) {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (min-width: $desktop-width) {
		max-width: 696px;
		@include font(null, 44px, 60px, null);
	}
}
