$logo-color: #000000;
$primary-text-color: #212121;
$hero-fon: #2f303a;
$title-text-color: #757575;
$social-icon: #afb1b8;
$portfolio-button: #f5f4fa;
$heder-border: #ececec;
$portfolio-border: #eeeeee;
$hero-color: #ffffff;
$accent-color: #2196f3;
$buttun-color-active: #188ce8;
$contact-color: rgba(255, 255, 255, 0.6);
$modal-bag: rgba(0, 0, 0, 0.2);
$footer-social-link: rgba(255, 255, 255, 0.1);
$subscribe-input-border: rgba(255, 255, 255, 0.3);
$overlay-fon: rgba(33, 150, 243, 0.9);
$textarea-placeholder: rgba(117, 117, 117, 0.5);
$textarea-border: rgba(33, 33, 33, 0.2);
$modal-close-border: rgba(0, 0, 0, 0.1);
$button-box-shadow: rgba(0, 0, 0, 0.15);
$label-text-background: rgba(47, 48, 58, 0.8);
$timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
$fonts-first: "Roboto", sans-serif;
$fonts-second: "Raleway";
$mobile-width: 480px;
$table-width: 768px;
$desktop-width: 1200px;
